* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  --main-color-green: #1db95e;
  --secondary-grey: #4a5568;
  --header-color: #2d3748;
  --paragraphs-colors: #a0aec0;
  --input-placeholder-text: #cbd5e0;
  --input-background: #f7fafc;
  --white: #f7fafc;
  --light-grey: #f9f9f9;
  --red: #e53e3e;
  --low-prio: 29, 185, 94;
  --medium-prio: 240, 145, 51;
  --high-prio: 235, 34, 19;
  --alpha: 0.45;
  --linera-gradient-alpha: 0.85;
  --outline-color: #161616;
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}
.body,
.header {
  background-color: var(--main-color-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}
.header {
  position: sticky;
  top: 0;
}
/* MAIN PAGE */

.main__heading {
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.heading-1 {
  font-size: 4rem;
  text-align: center;
  color: var(--header-color);
}
.heading__span {
  display: block;
  width: 70%;
  margin: 0 auto;
  background: var(--main-color-green);
  color: #fff;
}

.heading__btn,
.heading__btn-sign {
  background: var(--main-color-green);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 7rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}
.heading__btn-sign {
  border: 1px solid var(--main-color-green);
  background: #fff;
  color: var(--main-color-green);
}
.heading__socials {
  border-top: 1px solid var(--paragraphs-colors);
  padding-top: 2rem;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  margin: 0 1rem;
}
.social > a > i > svg {
  fill: var(--secondary-grey);
  width: 3.5rem;
  height: 3.5rem;
}
.social > a > i > svg:hover {
  fill: var(--header-color);
}
/* END MAIN PAGE */

.left-section > div {
  display: inline-block;
}
.left-section > .left-section-first-item {
  margin-right: 0.5rem;
}
svg {
  fill: var(--white);
}
p {
  font-weight: 500;
}
.user-panel-main-section {
  text-align: center;
  padding: 15px;
}
.user-panel-box {
  margin-top: 5rem;
}
.heading-2 {
  color: var(--header-color);
  font-size: 3.6rem;
}
.todo__body {
  z-index: 3;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(248, 248, 248);
  width: 90%;
  text-align: center;
  border: 1px solid var(--paragraphs-colors);
  padding: 2rem 0;
  margin-top: 4rem;
}
.todo__taskName {
  display: block;
  margin-top: 10px;
  margin: 1.5rem auto;
  width: 100%;
}
.todo__taskName > input {
  padding: 1rem;
  width: 95%;
  border: 1px solid var(--paragraphs-colors);
}
.todo__taskName > input::placeholder {
  color: var(--input-placeholder-text);
}
.todo__taskName > .todo__description {
  padding: 1rem 1rem 7rem 1rem;
}
.btn-newtask {
  background: var(--main-color-green);
  color: var(--white);
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.todo__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.todo__actions > svg {
  fill: var(--paragraphs-colors);
}
.task__message {
  font-size: 14px;
  color: var(--paragraphs-colors);
}
.status__task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--paragraphs-colors);
  font-size: 12px;
  margin-top: 2rem;
}
.section__task {
  border: 1px solid var(--paragraphs-colors);
  font-size: 18px;
  padding: 15px;
  margin-top: 20px;
}
.task__total {
  font-weight: 700;
  color: var(--main-color-green);
}
.finish {
  display: flex;
  justify-content: center;
  align-items: center;
}
.finish_text {
  margin-right: 5px;
}
.task__desc {
  font-size: 17px;
  color: var(--paragraphs-colors);
}
.task__name {
  font-size: 25px;
  font-weight: bold;
}
.status-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.circle {
  margin-right: 0.5rem;
  margin-top: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10rem;
}
/* circle task status */
.Low {
  border: 0.2rem solid rgba(var(--low-prio), 1);
  background-color: rgba(var(--low-prio), var(--alpha));
}
.Normal {
  border: 0.2rem solid rgba(var(--medium-prio), 1);
  background: rgba(var(--medium-prio), var(--alpha));
}
.High {
  border: 0.2rem solid rgba(var(--high-prio), 1);
  background: rgba(var(--high-prio), var(--alpha));
}
.btn-tasks-new {
  border: 2px solid var(--main-color-green);
  padding: 0.5rem 5rem;
  color: var(--main-color-green);
  background: var(--white);
  border-radius: 0.5rem;
  margin-top: 20px;
}
h3 {
  font-size: 20px;
}
h3 > span {
  font-size: 10px;
  color: var(--paragraphs-colors);
}
.btn-user-panel {
  border: 0.2rem solid var(--main-color-green);
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
  margin-top: 5rem;
  color: var(--main-color-green);
  background-color: var(--white);
  font-size: 1.6rem;
}
.user-panel-svg {
  margin-top: 9rem;
}
.center {
  position: relative;
  z-index: 1;
}
/* sign up */
.not__account {
  font-size: 1.3rem;
}
.not__account > a {
  color: #fff;
  background: var(--main-color-green);
  padding: 3px 3px 1rem 1rem;
}
.signUp__btn__signIn {
  background: transparent;
  border: none;
  margin-top: 1rem;
  margin-left: 2rem;
}
.signUp_div_signIn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.signUp__btn__signIn > a {
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.5rem;
  background: var(--main-color-green);
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 3px 3px 1rem 1rem;
}
.main__signUp,
.main__reset,
.main__signIn {
  height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: url('./components/loginComponents/waves.svg');
  background-position: bottom;
}
.section__header {
  margin-top: 6rem;
  color: var(--main-color-green);
  font-size: 4.4rem;
  font-weight: 700;
  text-align: center;
}
.section__formWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 85vw;
}
.form__message {
  color: var(--red);
}
/* form styles */
.form__label {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
  position: relative;
}
.label__paragraph {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--secondary-grey);
}
.section__message {
  color: var(--high-prio);
  position: absolute;
  top: 3rem;
  left: 0;
  font-size: 1.3rem;
}
.form__labelError {
  position: relative;
  width: 100%;
  margin-top: -4rem;
}

/* buttons styles */
.section__buttons {
  width: 85vw;
  margin: 0 auto;
}
.btn__main--full {
  padding: 1rem 0;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
  background-color: var(--main-color-green);
  color: var(--white);
  font-size: 2rem;
  border: none;
  border-radius: 0.3rem;
}
.btn__main--empty {
  padding: 1rem 0;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
  background-color: var(--white);
  color: var(--main-color-green);
  font-size: 2rem;
  border: 2px solid var(--main-color-green);
  border-radius: 0.3rem;
}
.label__input {
  font-size: 1.5rem;
  width: 85vw;
  padding: 0.85rem;
  background-color: var(--input-background);
  border: 0.1rem solid var(--paragraphs-colors);
  border-radius: 0.3rem;
}
.label__eye {
  fill: var(--secondary-grey);
  position: absolute;
  top: 2.6rem;
  right: 1rem;
}
.form__checkbox {
  display: flex;
  width: 85vw;
  text-align: center;
  justify-content: flex-start;
  position: relative;
}
.label__terms {
  margin: 0.2rem 0 0 1rem;
  position: relative;
  font-size: 1.1rem;
}
.toggle_password:focus-within > * {
  outline: 2px solid var(--outline-color);
}
/* custom checkbox */
.checkbox__indicator {
  width: 2rem;
  height: 2rem;
  background-color: var(--input-background);
  border: 0.1rem solid var(--secondary-grey);
  border-radius: 0.3rem;
}
.label__checkbox:checked ~ .checkbox__indicator {
  background-color: var(--main-color-green);
  background-image: url('./components/loginComponents/Checkmark.svg');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.label__checkbox {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
}
/* Span link bg box*/
.label__link {
  color: var(--white);
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.label__span--link {
  position: relative;
  margin: 0 1rem;
  color: var(--white);
}
.label__span--link::after {
  content: '';
  position: absolute;
  top: 0;
  left: -0.8rem;
  background-color: var(--main-color-green);
  color: var(--input-background);
  width: calc(100% + 1.3rem);
  height: calc(100% + 0.5rem);
  z-index: -1;
}
.label__par--link {
  font-size: 1.3rem;
  width: 10.7rem;
}
/* FOOTER */

.footer {
  background: var(--light-grey);
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--paragraphs-colors);
}
.footer > div > p {
  margin-top: 2rem;
}
.footer__first {
  padding: 1rem;
}
.footer__first > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__div_second_p {
  margin-right: 40%;
}
.footer__second {
  border-top: 1px solid var(--paragraphs-colors);
  text-align: center;
  margin-top: 4rem;
  padding: 2rem;
}
.footer__second > div > i > svg {
  fill: var(--secondary-grey);
  margin-left: 1rem;
}
.footer__second_first_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* END FOOTER */
/* Terms & Policy */
.terms {
  width: 80%;
  margin: 5% auto;
  color: var(--secondary-grey);
}
.section__title {
  font-size: 3.8rem;
  margin-bottom: 3rem;
  color: var(--header-color);
}
.main__info {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}
.about__link--store {
  text-decoration: none;
  color: var(--light-grey);
}
/* End terms & Policy */
/* HAMBURGER */
.list__hamburger {
  list-style: none;
  width: 100%;
}
.list__hamburger > li {
  margin-top: 4rem;
  width: 80%;
  text-align: left;
}
.hamburger_link {
  font-size: 3.4rem;
  color: var(--main-color-green);
  background: #fff;
  padding: 1rem;
  display: inline-block;
  width: 100%;
  font-weight: 700;
}
.info__user {
  text-align: left;
  color: #fff;
  font-size: 3.7rem;
}
.info__user > .second::first-letter {
  background: #fff;
  padding: 0 .7rem;
  color: var(--main-color-green)
}
.credits {
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;
  font-weight: 400;
}
.credits > span {
  font-weight: 900;
  background: #fff;
  padding: 5px;
  border-radius: 3px;
  color: var(--main-color-green)
}
.hamburger__left__border {
  backdrop-filter: blur(3px);
  height: 100vh;
}
.hamburger__log__out {
  text-align: center;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}
.log__out {
  padding: 1rem;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  border: none;
}
.log__out > svg {
  margin-right: 1rem;
}
/* END HAMBURGER */
/* Contact us */
.contactUs {
  max-width: 85vw;
  margin: 10rem auto;
}
.label__textarea {
  font-size: 1.5rem;
  width: 85vw;
  padding: 0.85rem;
  background-color: var(--input-background);
  border: 0.1rem solid var(--paragraphs-colors);
  border-radius: 0.3rem;
  font-family: 'Noto Sans JP' sans-serif;
  resize: none;
  overflow: auto;
}
/* End of contact us */
/* 404 */
.main__notFound {
  background-image: url('./components/page/lostGuy.svg');
  background-repeat: no-repeat;
  min-height: 70vh;
  position: relative;
}
.section__notFound {
  background: linear-gradient(
    rgba(29, 185, 94, var(--linera-gradient-alpha)),
    rgba(29, 185, 94, var(--linera-gradient-alpha))
  );
  border-radius: 0.3rem;
  max-width: 85vw;
  padding: 1rem;
  color: var(--white);
  position: absolute;
  top: 5rem;
  left: 2rem;
}
.notFound__404 {
  font-size: 5rem;
  font-weight: 700;
}
.notFound__title {
  margin: -1rem 0 1.5rem 0;
  font-weight: 500;
  font-size: 3rem;
}
.notFound__paragraph {
  font-weight: 500;
  font-size: 1.2rem;
}
.btn__notFound {
  width: 15rem;
  position: absolute;
  top: 27rem;
  left: 2rem;
}
/* end 404 */
